<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008148447720-8kgq53odr2q6r0anff8scb18f778t7p4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008148447720-8kgq53odr2q6r0anff8scb18f778t7p4</string>
	<key>API_KEY</key>
	<string>AIzaSyDEuDJGhe8LPZtWIug7sSSd9nsIG-xzdSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1008148447720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.talkyChat</string>
	<key>PROJECT_ID</key>
	<string>talkychat-56d97</string>
	<key>STORAGE_BUCKET</key>
	<string>talkychat-56d97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008148447720:ios:7ee9bc2521e6a155ab645d</string>
</dict>
</plist>